@media screen and (max-width: 768px) {
    .header {flex-direction: column;width: 100%;}
    .lista-menu {flex-direction: column;text-align: center;}
    #icone-menu {display: block;}
    .item-menu {display: none;}
    .ativar {display: block;}
    .item-menu:hover {background-color: azure;
        width: 100vw;color: black;
    }
    .link-menu:hover {color: black;}
    #icone-menu:hover {background-color: lightpink;}
    .carrossel{width: 100%; height: 50vh;position: relative;}
    .link-carrossel{top: 90%;font-size: 1.2rem; text-align: center;}
    .tenis{grid-template-columns: 1fr;}
    .footer{flex-direction: column;justify-content: center;height: auto;}
    .div-tenis{order: 1 !important;}
    .bloco1{grid-template-columns: 1fr;
    }
    

}